<section id="contact">
  <h1 class="team-heading">Get in touch.</h1>
  <h3>
      Contact us with any questions you may have or discuss how we can help with your project.
  </h3>
<article>
  <div id="location">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116716.00999386942!2d29.38106525187061!3d-23.911760536852277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ec6d8401183307b%3A0xa720ddd4b18e4df7!2sPolokwane!5e0!3m2!1sen!2sza!4v1594884081073!5m2!1sen!2sza" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <div id="contact-form">
      <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name">
      </div>
      <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" name="phone" id="phone">
      </div>
      <div class="form-group">
          <label for="email">Name:</label>
          <input type="email" name="email" id="email">
      </div>
      <div class="form-group">
          <label for="email">Name:</label>
          <textarea name="" id="message" height="max-content" rows="5" cols="33"></textarea>
      </div>
      <a class="btn-more">Send Enquiry</a>
  </div>
</article>
</section>