<section id="team">
  <h1 class="team-heading">Meet Our Team</h1>
  <h4 class="subtitle">
      We work together in coming up with innovative ideas, we're dedicated in building advanced websites grounded and solution-oriented Computer Scientist with a wide variety of professional experiences.
      Passionate about data security and educating the next generation of technology users and innovators.
  </h4>
<article id="members">
      <div class="member-card">
          <div class="member-card-header">
              <img src="/assets/images/stuur.jpg" alt="Stuurman Ramaila - Developer">
          </div>
          <div class="member-card-body">
              <h3 class="member-name">
                  Stuurman Ramaila<span>Developer.</span>
              </h3>
              <p>
                  Specialize in HTML, CSS, JS, Java, C#,C++,Sql and firebase system analyst, system tester and project manager
              </p>
              <div class="media-icons">
                  <ul>
                      <li>
                          <a href="#">
                            <i class="fab fa-facebook fa-2x"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                            <i class="fab fa-linkedin fa-2x"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                            <i class="fab fa-github fa-2x"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="member-card">
          <div class="member-card-header">
              <img src="/assets/images/kgotso.jpg" alt="Kgotso Matotoka - Team Leader">
          </div>
          <div class="member-card-body">
              <h3 class="member-name">
                  Kgotso Matotoka<span>Team Leader.</span>
              </h3>
              <p>
                  She's an assertive lady,open-minded,career-oriented person,who is resourceful,hardworking and optimistic.
              </p>
              <div class="media-icons">
                  <ul>
                      <li>
                          <a href="#">
                            <i class="fab fa-facebook fa-2x"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                            <i class="fab fa-linkedin fa-2x"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                            <i class="fab fa-github fa-2x"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="member-card">
          <div class="member-card-header">
              <img src="/assets/images/img.jpg" alt="Makgothoma Precious - Developer">
          </div>
          <div class="member-card-body">
              <h3 class="member-name">
                  Makgothoma Precious<span>Developer</span>
              </h3>
              <p>
                  She's a maltitasking queen who organises our meetings,she keeps everything on track and make sure we deliver our service
              </p>
              <div class="media-icons">
                  <ul>
                      <li>
                          <a href="#">
                            <i class="fab fa-facebook fa-2x"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                            <i class="fab fa-linkedin fa-2x"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                            <i class="fab fa-github fa-2x"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="member-card">
          <div class="member-card-header">
              <img src="/assets/images/moshele.jpg" alt="Makgothoma Precious - Team Leader">
          </div>
          <div class="member-card-body">
              <h3 class="member-name">
                  Seoka Moshele<span>Developer.</span>
              </h3>
              <p>
                  A certified java associate great in designing and prototyping UI/UX,web applications and optimizing to increase web traffic.
              </p>
              <div class="media-icons">
                  <ul>
                      <li>
                          <a href="#">
                            <i class="fab fa-facebook fa-2x"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                            <i class="fab fa-linkedin fa-2x"></i>
                          </a>
    </li>
                      <li>
                          <a href="#">
                            <i class="fab fa-github fa-2x"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
</article>
</section>
